<div class="hamburger icon-hamburger" id="hamburger">
  <svg class="icon-hamburger" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
    <path class="line top" d="M0.5 7H20.5" stroke="black" stroke-linecap="round"/>
    <path class="line bottom" d="M0.5 13H20.5" stroke="black" stroke-linecap="round"/>
  </svg>
</div>
