{%- if use_new_video_icons -%}
<div class="video-controls" style="position: absolute; bottom: 64px; right: 64px; gap: 8px; display: none; z-index: 999;">
{%- else -%}
<div class="video-controls" style="position: absolute; bottom: 10px; right: 10px; gap: 10px; display: none; z-index: 999;">
{%- endif -%}
  {%- if show_video_flow_controls -%}
    {%- if use_new_video_icons -%}
      <div class="video-flow-button" style="cursor: pointer; padding: 10px; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;">
        <svg class="video-play-icon" xmlns="http://www.w3.org/2000/svg" width="13" height="18" viewBox="0 0 13 18" fill="none" style="cursor: pointer;">
          <path d="M0.5 2.37178C0.5 1.5584 1.41937 1.08528 2.08124 1.55804L11.3608 8.18628C11.9191 8.58511 11.9191 9.41493 11.3608 9.81375L2.08124 16.442C1.41937 16.9148 0.5 16.4416 0.5 15.6283V2.37178Z" stroke="#F9F5F4"/>
        </svg>
        <svg class="video-pause-icon" xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20" fill="none" style="cursor: pointer;">
          <path d="M0.5 0L0.499999 20" stroke="#F9F5F4"/>
          <path d="M10.5 0L10.5 20" stroke="#F9F5F4"/>
        </svg>
      </div>
    {%- else -%}
      <button class="btn btn--solid-border btn--small btn--white video-flow-button" style="border-radius: 50%; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <svg class="video-play-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 16px; height: 16px; cursor: pointer;">
          <path d="M22.025,11.134L2.975.135c-.667-.385-1.5.096-1.5.866v21.997c0,.77.833,1.251,1.5.866l19.05-10.999c.667-.385.667-1.347,0-1.732Z" stroke-width="0"></path>
        </svg>
        <svg class="video-pause-icon" aria-hidden="true" focusable="false" style="width: 16px; height: 16px; cursor: pointer;">
          <rect x="1" y="0" width="6" height="24" rx="1" ry="1" stroke-width="0"></rect><rect x="10" width="6" height="24" rx="1" ry="1"  stroke-width="0"></rect>
        </svg>
      </button>
    {%- endif -%}
  {%- endif -%}
  {%- if show_video_sound_controls -%}
    {%- if use_new_video_icons -%}
      <div class="video-sound-button" style="cursor: pointer; padding: 10px; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;">
        <svg class="video-mute-icon" xmlns="http://www.w3.org/2000/svg" width="15" height="18" viewBox="0 0 15 18" fill="none" style="cursor: pointer;">
          <path d="M1.75 17.5L14.25 0.5M5.09811 4.924L9.1797 2.09023C9.84281 1.62984 10.75 2.1044 10.75 2.91166V15.0883C10.75 15.8956 9.84281 16.3702 9.1797 15.9098L5.09811 13.076C4.93065 12.9597 4.73166 12.8974 4.5278 12.8974H1.75C1.19772 12.8974 0.75 12.4497 0.75 11.8974V6.10256C0.75 5.55028 1.19771 5.10256 1.75 5.10256H4.5278C4.73166 5.10256 4.93065 5.04026 5.09811 4.924Z" stroke="#F9F5F4"/>
        </svg>
        <svg class="video-unmute-icon" xmlns="http://www.w3.org/2000/svg" width="11" height="16" viewBox="0 0 11 16" fill="none" style="cursor: pointer;">
          <path d="M0.5 10.8974V5.10256C0.5 4.55028 0.947715 4.10256 1.5 4.10256H4.2778C4.48166 4.10256 4.68065 4.04026 4.84811 3.924L8.9297 1.09023C9.59281 0.629842 10.5 1.1044 10.5 1.91166V14.0883C10.5 14.8956 9.59281 15.3702 8.9297 14.9098L4.84811 12.076C4.68065 11.9597 4.48166 11.8974 4.2778 11.8974H1.5C0.947715 11.8974 0.5 11.4497 0.5 10.8974Z" stroke="#F9F5F4"/>
        </svg>
      </div>
    {%- else -%}
      <button class="btn btn--solid-border btn--small btn--white video-sound-button" style="border-radius: 50%; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <svg class="video-mute-icon" xmlns="http://www.w3.org/2000/svg" style="width: 22px; height: 22px; cursor: pointer; overflow: visible;" fill="black" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-x">
          <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon>
          <line x1="23" y1="9" x2="17" y2="15"></line>
          <line x1="17" y1="9" x2="23" y2="15"></line>
        </svg>
        <svg class="video-unmute-icon" xmlns="http://www.w3.org/2000/svg" style="width: 22px; height: 22px; cursor: pointer; overflow: visible;" fill="black" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-2">
          <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon>
          <path d="M19 5c1.5 1.5 2 3.5 2 7s-.5 5.5-2 7"></path>
          <path d="M15 9c.6.6 1 1.5 1 3s-.4 2.4-1 3"></path>
        </svg>
      </button>
    {%- endif -%}
    {%- endif -%}
</div>
