<link href="{{ 'Collection Navigation.css' | asset_url }}" rel="stylesheet" type="text/css">

{% if collection.metafields.custom.visual_nav_blocks.value.count > 0 %}
  <div class='inner-wrapper-nav'>
  {% for item in collection.metafields.custom.visual_nav_blocks.value %}
    {% liquid
       if item.collection_link != blank
         assign result_link = item.collection_link.url
       else
         assign result_link = item.url_link
       endif
    %}
    <a href='{{ result_link}}' class='item-nav'>
      {{ item.image | image_url: width: 800, height: 600 | image_tag}}
      {{ item.text }}
    </a>
  {% endfor %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Collection Navigation",
  "class":"collection-navigation",
  "enabled_on": {
    "templates": ["collection"]
  },
  "settings": [],
  "presets": [
  {
    "name": "Collection Navigation"
  }
  ]
}
{% endschema %}