.background-blur {
    position: relative;
}

/* !important added on banner-image__text-wrapper--full-width to override Limit Text Contrast Overlay to Box Setting when Add blur layer under text setting is True */
.banner-image__text-wrapper--full-width {
    width: 100%;
    margin: 0 !important;
}

.background-blur::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    mask-image: linear-gradient(to top, #fff 80%, transparent);
    z-index: -1;
}

.banner-image-background-blur {
    position: relative;
}

.banner-image-background-blur::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(250, 249, 246, 0.2), rgba(250, 249, 246, 0.1));
}

.banner-image-background-blur::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 100%);
}

.banner-image__text-wrapper>*:not(.banner-image__subheading) {
    margin-bottom: 0;
}

.banner-image__text-wrapper--full-width .banner-image__heading p {
    display: inline-block;
    font-family: var(--FONT-STACK-HEADING);
    margin-bottom: 32px;
    margin-top: 0;
    max-width: 33.33%;
}

.banner-image__text-wrapper--full-width .banner-image__buttons {
    max-width: 33.33%;
    display: inline-block;
}

.banner-image__btn.btn--small {
    border-radius: 4px;
    font-size: calc(14px * var(--adjust-button));
    letter-spacing: 0.28px;
    line-height: 16.8px;
    padding: 16px 32px;
}

.template-404 .banner-image__heading p {
    margin: 0 0 24px;
}

.template-404 .banner-image__content.text__content p {
    margin: 0 0 32px;
}

.banner-image__text-container .banner-image__heading {
    color: #F9F5F4;
    letter-spacing: -0.96px;
}

.banner-image__heading p {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
}

@media (max-width: 768px) {
    .banner-image__text-wrapper--full-width.background-blur {
        padding: 0 12px 24px;
    }

    .banner-image__text-wrapper--full-width .banner-image__heading p {
        max-width: 100%;
        font-size: calc(29px * var(--adjust-body));
        margin-bottom: 16px;
    }

    .banner-image__text-wrapper--full-width .banner-image__buttons {
        display: block;
        max-width: 100%;
    }

    .banner-image__btn.btn--small {
        padding-bottom: 12px;
        padding-top: 12px;
    }

    .template-404 .banner-image__heading p {
        margin: 0 0 16px;
    }

    .template-404 .banner-image__content.text__content p {
        margin: 0 0 24px;
    }

    .banner-image__heading p {
        letter-spacing: -0.64px;
    }

    .banner-image__text-wrapper.banner-image__text-wrapper--normal  {
        width: 100%;
        padding: 16px 20px;
    }

    .banner-image__text-wrapper.banner-image__text-wrapper--normal .banner-image__buttons {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .banner-image__text-wrapper.banner-image__text-wrapper--normal .main-buttons__item {
        margin: 0;
    }

    .banner-image__text-wrapper.banner-image__text-wrapper--normal .main-buttons__item .btn {
        width: 100%;
    }
}
