:root {
    --text: #000000;
    --border-medium: rgba(139, 129, 126, 0.50);
}

.cart__content .gwp-wrapper  {
    margin-bottom: 32px;
}

.gwp-wrapper .gwp-progress-bar-wrapper {
    align-items: start;
    background: rgba(139, 129, 126, 0.15) !important;
    border-radius: 4px;
    flex-direction: column;
    gap: 12px;
    margin: 0;
}

.gwp-wrapper .gwp-progress-bar-wrapper .progress-bar-block {
    width: 100%;
}

.gwp-wrapper .gwp-progress-bar-wrapper .title {
    color: var(--text);
    font-family: var(--FONT-STACK-HEADING);
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.32px;
}

.gwp-wrapper .gwp-progress-bar-wrapper .goal {
    color: var(--text);
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: 120%;
    margin-top: 4px;
}

.gwp-wrapper .gwp-progress-bar-wrapper .progress-bar {
    margin: 0 24px 0 0;
}

.gwp-wrapper .gwp-progress-bar-wrapper .limit {
    color: var(--text);
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0.28px;
}

.cart__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cart__header .cart__title {
    color: var(--text);
    font-size: calc(2rem * var(--adjust-heading));
    letter-spacing: -0.64px;
    line-height: 120%;
    margin-bottom: 0;
    margin-top: 0;
}

.cart__header .cart-drawer__item-qty {
    color: #676767;
    font-family: var(--FONT-STACK-HEADING);
    font-size: calc(14px * var(--adjust-heading));
    letter-spacing: -0.28px;
    line-height: 120%;
}

.cart__header .cart-drawer__item-qty:after,
.cart__header .cart-drawer__item-qty:before {
    display: none;
}

.cart__items__wrapper .cart__items {
    border-top: 0;
}

.cart__items__wrapper .cart__items .cart__item {
    border: 0;
    padding: 24px 0;
    border-radius: 4px;
    border-top: 1px solid rgba(139, 129, 126, 0.50);
}

.cart__items__wrapper .cart__items .cart__item:first-of-type {
    border: 0;
}

.cart__items__wrapper .cart__items .cart__item:last-of-type {
    padding-bottom: 0;
}

.cart__items .cart__item__image {
    margin-right: 12px;
}

.cart__item__info .cart__item__title {
    font-family: var(--FONT-STACK-HEADING);
    font-size: calc(14.5 * var(--adjust-body));
    line-height: 120%;
    letter-spacing: -0.32px;
    font-weight: 400;
}

.cart__item__info .cart__item__meta {
    margin: 4px 0 0;
}

.cart__item__meta .cart__item__selected-options{
    font-size: calc(11px * var(--adjust-body));
    font-weight: 300;
    letter-spacing: 0.24px;
    line-height: 120%;
}

.cart__items .cart__item__content {
    width: calc(100% - 92px);
}

.cart__items .cart__item__content-inner .cart__item__price {
    display: flex;
    font-size: calc(12.5px * var(--adjust-body));
    font-weight: 300;
    gap: 8px;
    justify-content: center;
    letter-spacing: 0.28px;
    line-height: 120%;
}

.cart__items .cart__item__price ins {
    margin: 0;
}

.cart__items .cart__item__price del {
    color: var(--text);
    font-weight: 500;
}

.cart__items .cart__item__bottom .cart__item__quantity {
    width: 96px;
}

.cart__item__bottom .cart__item__remove {
    opacity: 1;
    padding: 0;
}

.cart__item__bottom .cart__item__quantity button {
    color: var(--text);
    width: 32px;
    height: 32px;
    padding: 0 12px;
}

.cart__item__bottom  .cart__item__quantity-minus {
    box-shadow: 1px 0 var(--border-medium);
}

.cart__item__bottom  .cart__item__quantity-plus {
    box-shadow: calc(1px * -1) 0 var(--border-medium);
}

.cart__item__bottom .cart__item__quantity-field {
    border-color: var(--border-medium);
    border-radius: 4px;
    padding: 9px 20px;
    font-size: 12px;
}

.cart__message__success {
    font-size: calc(13px * var(--adjust-body));
    font-weight: 300;
    letter-spacing: 0.28px;
    line-height: 120%;
    padding-bottom: 0;
}

.cart__message .cart__message__progress {
    height: 6px;
}

.cart__aside .cart__message {
    padding-bottom: 0;
}
.cart__aside .cart__total {
    margin: 16px 0 8px;
    padding: 0;
}

.cart__aside .cart__total span {
    font-size: calc(.8rem * var(--adjust-body));
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.28px;
}

.cart__aside .cart__total span.cart__total__money {
    font-size: calc(14.5px * var(--adjust-body));
    letter-spacing: 0.32px;
}

.cart__aside .cart__pair {
    border-color: rgba(139, 129, 126, 0.50);
    padding: 0;
    margin-bottom: 16px;
}

.cart__aside .cart__message.cart__message--custom {
    border-radius: 0;
    color: #F9F5F4;
    font-size: calc(11px * var(--adjust-body));
    font-weight: 300;
    letter-spacing: 0.24px;
    line-height: 120%;
    margin-bottom: 16px;
    padding: 9px;
}

.cart__buttons .cart__checkout {
    border-radius: 4px;
    color: #F9F5F4;
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: 120%;
    padding: 12px;
    width: 100%;
}

.cart__aside .gwp-coupon-block {
    border-radius: 4px;
    border: 1px solid rgba(139, 129, 126, 0.50);
    margin-top: 16px;
}

.cart__aside .gwp-coupon-block .head {
    font-family: var(--FONT-STACK-HEADING);
    font-size: calc(16px * var(--adjust-heading));
    letter-spacing: -0.32px;
    line-height: 120%;
    padding: 12px;
}

.cart__aside .gwp-coupon-block .field-and-button {
    gap: 4px;
    margin-bottom: 8px;
}

.cart__aside .gwp-coupon-block.open .body {
    margin-top: 0;
    padding: 0 12px 12px;
}


.body .field-and-button .gwp_coupon_field {
    border-radius: 4px;
    border: 1px solid  rgba(139, 129, 126, 0.50);
    font-size: 14px;
    font-weight: 400;
    padding: 0 16px;
}

.gwp-wrapper .gwp-button {
    border-radius: 4px;
}

.gwp-wrapper .gwp-open-button .gwp-button,
.cart__aside .gwp-coupon-block .field-and-button .apply-button {
    background: linear-gradient(0deg, rgba(139, 129, 126, 0.50) 0%, rgba(139, 129, 126, 0.50) 100%), var(--text);
    border-radius: var(--Border-Radius-Small, 4px);
    border: none;
    color: #F9F5F4;
    font-size: 12px;
    letter-spacing: 0.28px;
    line-height: 120%;
    padding: 12px 16px;
}

.cart__aside .gwp-coupon-block .body .description,
.cart__aside .gwp-coupon-block .validation {
    font-size: calc(11px * var(--adjust-body));
    font-weight: 300;
    letter-spacing: 0.24px;
    line-height: 120%;
}

.body .validation {
    padding-bottom: 4px;
}

.template-cart .wrapper .upsell-cart-title{
    color: var(--text);
    font-size: calc(22px * var(--adjust-heading));
    line-height: 120%;
    margin: 40px 0 32px;
    text-align: left;
    text-transform: capitalize;
}

.template-cart .product-upsell__holder {
    background: transparent;
    border-radius: 4px;
    border: none;
    border-right: 1px solid rgba(139, 129, 126, 0.50);
    height: auto;
    margin-right: 0;
    padding: 0;
    max-width: calc(33.33% - 32px);
    margin-right: 32px;
}

.template-cart .product-upsell__holder.is-selected:nth-of-type(4n),
.template-cart .product-upsell__holder:last-of-type {
  border-right: none;
}

.product-upsell {
    flex-direction: row-reverse;
}

.product-upsell .product-upsell__image {
    background: linear-gradient(0deg, rgba(139, 129, 126, 0.15) 0%, rgba(139, 129, 126, 0.15) 100%), #F9F5F4;
}

.template-cart .product-upsell__subtitle {
    display: none;
    margin: 0;
}

.template-cart .product-upsell__holder .product-upsell__content {
    padding: 0 12px;
}

.product-upsell__holder--cart .product-upsell__title {
    color: var(--text);
    font-family: var(--FONT-STACK-HEADING);
    font-size: calc(14.5px * var(--adjust-body));
    letter-spacing: -0.32px;
    line-height: 120%;
    margin-bottom: 2px;
}

.upsell-recommendation .flickity-page-dots {
    display: flex;
    height: 2px;
    margin-top: 28px;
    width: calc(100% - 96px);
}

.upsell-recommendation .flickity-page-dots .dot {
    background-color: var(--border-medium);
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    height: 2px;
    margin: 0;
    transition: border .2s ease-in-out;
    width: 100%;
}

.upsell-recommendation .flickity-page-dots .dot:first-of-type {
    border-radius: 2px 0 0 2px;
}

.upsell-recommendation .flickity-page-dots .dot:last-of-type {
    border-radius: 0 2px 2px 0;
}

.upsell-recommendation .flickity-page-dots .dot.is-selected {
    width: 100%;
    background-color: var(--text);
}

.upsell-wrapper.flickity-enabled .flickity-button {
    display: none;
}

.upsell-wrapper.flickity-enabled.is-draggable .flickity-button {
    display: block;
}

.upsell-wrapper button.flickity-button.flickity-prev-next-button ,
.upsell-wrapper button.flickity-button.flickity-prev-next-button:hover{
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: none;
    box-shadow: none;
    background: none;
}

.upsell-wrapper button.flickity-button.flickity-prev-next-button::before {
    display: none;
}

.supports-touch .cart .flickity-prev-next-button:not(:disabled),
.flickity-enabled:hover>.flickity-prev-next-button:not(:disabled),
section:hover .flickity-enabled>.flickity-prev-next-button:not(:disabled) {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: none;
}

.supports-touch .flickity-prev-next-button:not(:disabled):hover,
.flickity-enabled:hover>.flickity-prev-next-button:not(:disabled):hover,
section:hover .flickity-enabled>.flickity-prev-next-button:not(:disabled):hover {
    transform: none;
    transition: none;
}

.upsell-wrapper button.flickity-button.flickity-prev-next-button.previous {
    bottom: -47px;
    left: unset;
    right: 40px;
    top: unset;
}

.upsell-wrapper button.flickity-button.flickity-prev-next-button.next {
    bottom: -47px;
    right: 0;
    top: unset;
}

.cart__content .gwp-wrapper .gwp-open-button {
    background-color: rgba(139, 129, 126, .15);
    border-radius: 4px;
    border: none;
}

.upsell-recommendation-mobile {
    display: none;
}

.cart__item  .cart__item__image a {
    height: 80px;
    width: 80px;
}

.template-cart .product-upsell__holder .product-upsell__btn {
    border-radius: 4px;
    letter-spacing: 0.24px;
    line-height: 120%;
    padding: 8px 16px;
}

.cart__header-mobile {
    display: none;
}

.cart__item__image .lazy-image {
    background: linear-gradient(0deg, rgba(139, 129, 126, 0.15) 0%, rgba(139, 129, 126, 0.15) 100%), #F9F5F4;
}

.template-cart .product-upsell__holder .single_price_text {
    margin-top: 0 !important;
}

.products-list .flickity-prev-next-button {
    top: 32%;
}

.gwp-block .products-list .add .gwp-button {
    width: 100px;
}

.cart__items .cart__discount {
    background-color: #756c69;
    color: #f9f5f4;
    font-size: calc(11px * var(--adjust-body));
    font-weight: 300;
    letter-spacing: .24px;
    line-height: 120%;
    margin-left: 92px;
    padding-bottom: 9px;
    padding-top: 9px;
}

@media (min-width: 1024px) {
    .cart .wrapper {
        --site-width: 1512px;
        padding: 0 64px;
    }
}

@media (min-width: 1200px) {
    .cart__content {
        width: calc(100% - 338px - 91px);
    }

    .cart__aside {
        width: 338px;
    }

    .cart__items .cart__item__content .cart__item__bottom {
        justify-content: space-between;
        margin: 0;
        width: 330px;
    }

    .cart__item__bottom .cart__item__remove {
        margin: 0 0 0 auto;
    }

    .gwp-wrapper .gwp-progress-bar-wrapper {
        flex-direction: row;
        align-items: center;
        gap: 32px;
    }

    .gwp-wrapper .gwp-progress-bar-wrapper .progress-bar-block {
        width: 64%;
    }

    .template-cart .product-upsell__holder {
        width: calc(25% - 32px);
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .template-cart .product-upsell__holder {
        max-width: calc(50% - 32px);
    }

    .cart__items .cart__item__content-inner .cart__item__price {
        width: 40%;
    }

    .cart__items .cart__item__info {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .cart__header-desktop {
        display: none;
    }

    .cart__header.cart__header-mobile {
        align-items: end;
        display: inline-flex;
    }

    .template-cart .wrapper {
        padding: 0 12px;
    }

    .cart__header-mobile .cart__title {
        font-size: calc(28px * var(--adjust-heading));
        letter-spacing: -0.56px;
        line-height: 110%;
        margin: 24px 0 0;
    }

    .cart__content .gwp-wrapper .gwp-open-button {
        padding: 16px 16px;
    }

    .gwp-wrapper .gwp-progress-bar-wrapper {
        padding: 12px;
    }

    .gwp-wrapper .gwp-progress-bar-wrapper .goal {
        font-size: 12px;
        letter-spacing: 0.24px;
    }

    .gwp-wrapper .gwp-progress-bar-wrapper .progress-bar-block {
        margin-top: 0;
    }

    .gwp-wrapper .gwp-progress-bar-wrapper .progress-bar {
        margin: 0 12px 0 0;
    }

    .cart__content .gwp-wrapper {
        margin-bottom: 0;
        margin-top: 16px;
    }

    .cart__items__wrapper .cart__items .cart__item {
        border-bottom: 1px solid rgba(139, 129, 126, .5);
        border-radius: 0;
        border-top: 0;
        padding: 24px 0;
    }

    .cart__items__wrapper .cart__items .cart__item:first-of-type {
        border-bottom: 1px solid rgba(139, 129, 126, .5);
    }

    .cart__items__wrapper .cart__items .cart__item:last-of-type {
        padding: 24px 0;
    }

    .cart__items .cart__item__image {
        margin-right: 16px;
    }

    .cart__item__meta .cart__item__selected-options {
        color: #676767;
    }

    .cart__items .cart__item__content-inner .cart__item__price {
        justify-content: start;
        margin: 8px 0 0;
    }

    .cart__items .cart__item__bottom {
        justify-content: space-between;
        margin-top: 12px;
        width: 100%;
    }

    .cart__item__bottom .cart__item__remove {
        margin: 0 0 0 auto;
    }

    .upsell-recommendation-desktop,
    .upsell-cart-title-desktop {
        display: none;
    }

    .upsell-recommendation-mobile {
        display: block;
    }

    .template-cart .product-upsell__holder {
        border: 0;
        margin: 0;
        max-width: 100%;
    }

    .template-cart .product-upsell__subtitle,
    .template-cart .buy-it-with-label {
        color: #000;
        display: block;
        font-family: var(--FONT-STACK-HEADING);
        font-size: calc(1rem * var(--adjust-heading));
        letter-spacing: -0.32px;
        line-height: 120%;
        margin-bottom: 16px;
    }

    .template-cart .product-upsell__holder .product-upsell__content {
        padding: 0 0 0 12px;
    }

    .cart__item  .cart__item__image a {
        height: 88px;
        width: 88px;
    }

    .template-cart .product-upsell__holder .product-upsell__btn {
        margin-top: 12px;
        width: auto !important; /* TO OVERRIDE BASE !IMPORTANT STYLE */
    }

    .upsell-recommendation .flickity-page-dots {
        margin-top: 24px;
    }

    .cart__aside {
        padding-top: 58px;
    }

    .upsell-recommendation .flickity-page-dots {
        bottom: -16px;
    }

    .upsell-wrapper button.flickity-button.flickity-prev-next-button.previous,
    .upsell-wrapper button.flickity-button.flickity-prev-next-button.next {
        bottom: -38px;
    }

    .cart__aside .cart__total {
        margin: 24px 0;
    }

    .cart__aside .gwp-coupon-block .field-and-button .apply-button {
        width: auto !important; /* TO OVERRIDE BASE !IMPORTANT STYLE */
    }

    .template-cart .cart {
        margin-bottom: 24px;
        padding-bottom: 0;
    }

    .cart__items .cart__item__content {
        width: calc(100% - 104px);
    }

    .cart__items .cart__discount {
        margin-left: 104px;
    }
}

@media (min-width: 580px) and (max-width: 992px) {
    .template-cart .product-upsell__holder {
        max-width: calc(50% - 32px);
    }

    .template-cart .product-upsell__holder.is-selected:nth-of-type(2n) {
        border-right: none;
    }
}
