.collection-promo__content {
    padding: 24px;
}

.collection-promo__content .collection-promo__body {
    gap: 32px;
}

.collection-promo__content .collection-promo__body .collection-promo__heading {
    margin: 0;
    font-family: var(--FONT-STACK-HEADING);
    line-height: 120%;
    letter-spacing: -0.64px;
}

.collection-promo__button .btn {
    font-size: calc(14px * var(--adjust-button));
    line-height: 120%;
    letter-spacing: 0.28px;
    padding: 15px 32px;
    border-radius: 4px;
}

.collection-promo__body-inner.background-blur{
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    margin: -24px;
    mask-image: linear-gradient(to top, #fff 80%, transparent);
    padding: 24px;
}

@media (max-width: 768px) {
    .collection-promo__button .btn {
        padding: 11px 32px;
    }
}
