/* B2C-513 - Collection Navigation */
.collection-navigation {
    padding:0px calc(var(--gutter) + 4px);
}
.collection-navigation .item-nav {
    height:80px;
    border-radius:4px;
    display:flex;
    align-items:center;
    gap:24px;
    background:#e9e4e2;
    padding-right:24px;
    letter-spacing: 0.32px;
    width:auto;
    overflow:hidden;
    flex-shrink:0;
}

.collection-navigation .item-nav + .item-nav {
    margin-left:8px;
}

.collection-navigation .item-nav img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.collection-navigation .inner-wrapper-nav {
    padding-right:58px;
    overflow:hidden;
    display:flex;
}

.collection-navigation .inner-wrapper-nav.active-slider {
    display:block;
}

.collection-navigation .flickity-prev-next-button.previous {
    display:none;

}

.collection-navigation .flickity-prev-next-button.next {
    opacity: 1;
    visibility: visible;
    transform: none;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 50px;
    background: #e9e4e2;
    border-radius: 4px;
    box-shadow: none;
}

.collection-navigation .flickity-prev-next-button.next[disabled],
.collection-navigation .arrow-right-disabled .flickity-prev-next-button {
    opacity:0.3;
    cursor:default;
}

@media(max-width:1024px){
    .collection-navigation {
        padding:0px calc(var(--gutter-mobile) + 4px);
    }

    .collection-navigation .item-nav {
        font-size:14px;
        gap:16px;
        padding-right:16px;
        height:40px;
    }

    .collection-navigation .inner-wrapper-nav {
        padding-right:48px;
    }

    .collection-navigation .flickity-prev-next-button.next {
        width:40px;
    }
}
