.brick__section .rich-text__container {
    display: flex;
    flex-direction: column;
}

.brick__section .rich-text__container .rich-text__heading {
    letter-spacing: -0.56px;
    line-height: 110%;
    margin-bottom: 0;
}

.rich-text__text p{
    letter-spacing: 0.32px;
    line-height: 120%;
    margin: 0 0 16px;
}

.rich-text__text a {
    text-underline-offset: 2px;
    text-underline-position: from-font;
}

.rich-text__text ul {
    margin-bottom: 16px;
}

.rich-text__text ul li {
    margin-bottom: 0;
}

.brick__section .featured-main-block {
    padding: 0 32px 0 0;
    padding: 0;
}

.brick__section .brick__block--text:not(:first-of-type) {
    padding-left: 32px;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .brick__section .wrapper {
        width: 100vw;
    }
}

@media (min-width: 1400px) {
    .brick__section .wrapper {
        width: 1384px;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .brick__section .wrapper {
        padding: 0 16px;
    }

    .brick__blocks__flex {
        gap: 32px;
    }

    .brick__section .featured-main-block {
        padding-right: 16px;
    }

    .rich-text__text p {
        font-size: calc(14.2px * var(--adjust-body));
        letter-spacing: 0.28px;
    }

    .brick__section .brick__block--text:not(:first-of-type) {
        padding-left: 0;
    }
}
