.featured-blog .wrapper--full-padded,
.blog .wrapper--full-padded {
    padding: 0 16px;
}

.featured-blog .featured-blog__container .grid {
    gap: 4px;
}

.featured-blog .carousel--mobile .grid__item {
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.featured-blog .section__heading {
    font-size: calc(2rem * var(--adjust-heading));
    letter-spacing: -0.64px;
    line-height: 120%;
    margin-bottom: 40px;
    text-align: left;
}

.featured-blog .blog__post-image-link {
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
}

.featured-blog .blog__post-image-link .livingproof-us {
    border-radius: 4px 4px 0 0;
}

.featured-blog .blog__post-content {
    background: rgba(139, 129, 126, 0.15);
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 24px 32px;
    height: 100%;
}

.featured-blog .blog__post-content .blog__post-tags {
    margin-bottom: 0;
}

.featured-blog .blog__post-content .blog__post-title {
    font-size: calc(1rem * var(--adjust-heading));
    line-height: 120%;
    letter-spacing: 0.32px;
    margin-bottom: 0;
    -webkit-text-stroke-width: 0.2px;
}

.featured-blog .blog__post-content .blog__post-title-link {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    font-size: calc(20px * var(--adjust-body));
    font-weight: 400;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featured-blog .blog__post-content .rte {
    font-family: var(--FONT-STACK-HEADING);
    font-size: calc(20px * var(--adjust-body));
    line-height: 120%;
    margin: 0;
}

.featured-blog .featured-blog__button .btn {
    padding: 14px 32px;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: .28px;
    line-height: 120%;
}

.featured-blog .featured-blog__button {
    margin-top: 40px;
}

.featured-blog .blog__post-content .blog__post-tags .blog__post-tags-link,
.blog .blog__post .blog__post-content .blog__post-tags .blog__post-tags-link {
    color: #716865;
}

.featured-blog .blog__post-content .blog__post-tags .blog__post-tags-link small {
    font-size: calc(14.5px * var(--adjust-body));
    letter-spacing: 0.32px;
}

/* Filter Blogs */

.blog .blog__post {
    gap: 32px;
}

.blog .blog__post .blog__post-item {
    display: flex;
}

.blog .blog__post .blog__post-image-link {
    margin-bottom: 0;
    max-width: 160px;
    min-height: 129px;
    flex-shrink: 0;
    aspect-ratio: 160 / 129;
    border-radius: 0;
    padding: 0;
}

.blog .blog__post .blog__post-image-link .livingproof-us {
    max-width: 160px;
    min-height: 129px;
    flex-shrink: 0;
    aspect-ratio: 160 / 129;
    border-radius: 4px 0 0 4px;
}

.blog .blog__post .blog__post-content {
    background: rgba(139, 129, 126, 0.15);
    border-radius: 0 4px 4px 0;
    display: flex;
    flex-direction: column;
    font-size: calc(22px * var(--adjust-heading));
    gap: 12px;
    justify-content: center;
    line-height: 120%;
    padding: 24px 24px 32px;
    width: 100%;
}

.blog .blog__post .blog__post-content .blog__post-tags,
.blog .blog__post .blog__post-content .blog__post-title {
    margin-bottom: 0;
}

.blog .blog__post .blog__post-content .blog__post-tags,
.blog .blog__post .blog__post-content .blog__post-tags small {
    font-size: calc(14.5px * var(--adjust-body));
    line-height: 120%;
    letter-spacing: 0.32px;
}

.blog .blog__post .blog__post-content .blog__post-title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    font-size: calc(22px * var(--adjust-heading));
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog .blog__tags .blog__tags-title {
    font-family: var(--FONT-STACK-HEADING);
    font-size: calc(32px * var(--adjust-heading));
    letter-spacing: -0.64px;
    line-height: 120%;
    padding-bottom: 0;
}

.blog .blog__tags-list .blog__tag {
    margin-bottom: 0;
}

.blog .blog__tags-list .blog__tag-item .btn {
    border-radius: 4px;
    font-size: calc(12.5px * var(--adjust-body));
    letter-spacing: 0.28px;
    line-height: 120%;
    padding: 12px;
}

.blog .blog__pagination .pagination {
    margin-top: 40px;
}

.blog .blog__pagination .pagination .page {
    font-size: calc(12.5px * var(--adjust-body));
    line-height: 120%;
    letter-spacing: 0.28px;
}

.blog .blog__pagination .pagination .next a,
.blog .blog__pagination .pagination .prev a {
    padding-bottom: 0;
}

.blog .blog__tags-list .blog__tag-current .btn,
.blog .blog__tags-list .blog__tag--reset .btn {
    border-radius: 4px;
    font-size: calc(12.5px * var(--adjust-body));
    letter-spacing: .28px;
    line-height: 120%;
    padding: 13px 42px 12px 12px;
}

.blog .blog__tags-list .blog__tag-current .blog__x,
.blog .blog__tags-list .blog__tag--reset .blog__x {
    padding: 12px;
}

.pagination__button--next {
    transform: rotate(180deg);
}

.blog__post-item-flex {
    display: flex;
}

.blog__post-item-flex .blog__post-image-wrapper {
    max-width: 112px;
    min-height: 90px;
}

.blog__post-item-flex  .blog__post-content {
    min-height: 90px;
    width: 100%;
    border-radius: 0 4px 4px 0;
}

.blog__post-item-flex .blog__post-image-wrapper .blog__post-image {
    height: 100%;
    width: 100%;
    border-radius: 4px 0 0 4px;
}

.featured-blog .blog__post-item-flex .blog__post-content .blog__post-tags .blog__post-tags-link small {
    font-size: calc(11px * var(--adjust-body));
    letter-spacing: 0.24px;
}

.featured-blog .blog__post-item-flex .blog__post-content .blog__post-title-link {
    font-size: calc(16px * var(--adjust-heading));
    letter-spacing: -.32px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 1024px) {
    .featured-blog .wrapper--full-padded,
    .blog .wrapper--full-padded {
        padding: 0 64px;
    }

    .featured-blog .featured-blog__button .btn {
        padding: 16px 32px;
    }

    .blog .blog__tags {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .featured-blog.section-padding {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .featured-blog .section__heading {
        font-size: calc(28px * var(--adjust-heading));
        margin-bottom: 24px;
        letter-spacing: -0.56px;
    }

    .template-article .featured-blog .section__heading {
        font-size: calc(2rem * var(--adjust-heading));
        letter-spacing: -0.64px;
    }

    .featured-blog .section__header {
        margin-bottom: 24px;
    }

    .featured-blog .featured-blog__container .flex .blog__post-item {
        border-bottom: 0;
        padding: 0 0 16px;
    }

    .featured-blog .featured-blog__container .blog__post-content {
        padding: 16px;
    }

    .featured-blog .featured-blog__container .blog__post-content .blog__post-tags-link {
        color: #716865;
    }

    .template-article .featured-blog .featured-blog__container .blog__post-content {
        gap: 4px;
    }

    .featured-blog .blog__post-content .blog__post-title {
        margin: 0;
    }

    .featured-blog .featured-blog__button {
        margin-top: 16px;
    }

    .featured-blog .featured-blog__button {
        margin-top: 16px;
    }

    .featured-blog .featured-blog__button .btn {
        width: 100%;
    }

    .featured-blog .featured-blog__container .grid {
        padding-left: 16px;
    }

    .blog .blog__post {
        gap: 16px;
    }

    .blog .blog__tags .blog__tags-title {
        font-size: calc(28px * var(--adjust-heading));
        letter-spacing: -.56px;
        margin-bottom: 24px;
    }

    .blog .blog__tags .blog__tags-list {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .featured-blog .blog__post-content .blog__post-title-link {
        display: flex;
    }

    .blog .blog__tags .blog__tags-list::-webkit-scrollbar {
        display: none;
    }

    .blog .blog__tags-list .blog__tag-item .btn,
    .blog .blog__tags-list .blog__tag-current .btn {
        min-width: max-content;
    }

    .template-blog .featured-collection__shop-all-btn-wrapper.mobile-only {
        display: none;
    }

    .featured-blog .featured-blog__container {
        margin: 0 -16px;
    }

    .blog .blog__post .blog__post-content {
        gap: 4px;
    }

    .blog .blog__post .blog__post-image-link {
        width: 112px;
        height: 90px;
        aspect-ratio: 56/45;
    }

    .blog .blog__post .blog__post-image-link .livingproof-us {
        width: 112px;
        height: 90px;
        aspect-ratio: 56/45;
    }

    .blog .blog__post .blog__post-content .blog__post-tags,
    .blog .blog__post .blog__post-content .blog__post-tags small {
        color: #716865;
        font-size: calc(11px * var(--adjust-body));
        letter-spacing: .24px;
    }

    .blog .blog__pagination .pagination {
        margin-top: 24px;
    }

    .blog .blog__post .blog__post-content .blog__post-title .blog__post-title-link {
        font-size: calc(16px * var(--adjust-heading));
        letter-spacing: -0.32px;
        color: --var(black);
    }

    .featured-blog .blog__post-content .blog__post-tags .blog__post-tags-link small {
        font-size: calc(12.8px * var(--adjust-body));
        letter-spacing: 0.28px;
    }
}
