.image-with-text__wrapper .image-with-text__content .image-with-text__content-items {
    padding: 64px;
}

.image-with-text__heading {
    line-height: 110%;
    letter-spacing: -0.96px;
    margin-bottom: 0;
}

.image-with-text__text p,
.image-with-text__custom-content {
    font-size: calc(20px * var(--adjust-body));
    line-height: 120%;
    margin-top: 32px;
}

.image-with-text__content-items .image-with-text__buttons {
    margin-top: 0;
}

.image-with-text__buttons .main-buttons__item {
    margin: 40px 0 0 0;
}

.image-with-text__content-items .main-buttons__item .btn {
    border-radius: 4px;
    color: #F9F5F4;
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: 120%;
    padding: 16px 32px;
}

@media (max-width: 768px) {
    .image-with-text__wrapper .image-with-text__content {
        padding: 32px 24px;
    }

    .image-with-text__wrapper .image-with-text__content .image-with-text__content-items {
        padding: 0;
    }

    .image-with-text__text p,
    .image-with-text__custom-content {
        font-size: calc(14.5px * var(--adjust-body));
        margin-top: 16px;
    }

    .image-with-text__custom-content {
        margin-top: 24px;
    }

    .image-with-text__buttons .main-buttons__item {
        margin: 24px 0 0 0;
        display: inline-block;
    }

    .image-with-text__content-items .main-buttons__item .btn {
        padding: 12px;
    }

    .image-with-text__content-items .main-buttons__item .btn.full-width-mobile {
        width: 100% !important;
    }
}
