.product-single .wrapper--full-padded {
    padding: 0;
}

.product-single__wrapper {
    gap: 0;
}

.product-single__thumbnails {
    background: linear-gradient(0deg, rgba(139, 129, 126, 0.15) 0%, rgba(139, 129, 126, 0.15) 100%), #F9F5F4;
    margin: 0;
}

.product-single__gallery .product-single__media .lazy-image {
    background: linear-gradient(0deg, rgba(139, 129, 126, 0.15) 0%, rgba(139, 129, 126, 0.15) 100%), #F9F5F4;
}

.product-single__wrapper.desktop-carousel-only .product-single__media-slider .flickity-viewport,
.product-single__wrapper.desktop-carousel-only .product-single__media-slider .product-single__media.product-single__media--image {
    border-radius: 4px;
}

.product-single__wrapper:not(.desktop-carousel-only) .product-single__media-slider .flickity-viewport,
.product-single__wrapper:not(.desktop-carousel-only) .product-single__media-slider .product-single__media.product-single__media--image {
    border-radius: 4px 4px 0 0;
}

.product-single__details .form__wrapper {
    padding: 32px 120px;
}

.breadcrumbs {
    font-size: calc(10px * var(--adjust-body));
    letter-spacing: 0.22px;
    line-height: 120%;
}

.breadcrumbs__link,
.breadcrumbs__sep {
    margin-right: 3px;
}

.form__wrapper .product__title {
    letter-spacing: -0.64px;
    line-height: 120%;
}

.product__block .product__subheading {
    padding: 16px 0 32px;
}

.product__subheading .metafield-rich_text_field ul {
    margin-bottom: 8px;
}

.product__subheading .metafield-rich_text_field li {
    font-size: calc(12.5px * var(--adjust-body));
    letter-spacing: 0.28px;
    line-height: 120%;
    margin-bottom: 8px;
}

.product__subheading .metafield-rich_text_field em,
.product__subheading .metafield-rich_text_field i {
    font-size: calc(11px * var(--adjust-body));
    line-height: 120%;
    letter-spacing: 0.24px;
}

.product__selectors .radio__button {
    margin-bottom: 0;
}

.product__block .flex_container {
    justify-content: unset;
    gap: 8px;
}

.flex_container .selector-wrapper--qty {
    flex: 0 0 130px;
}

.select-popout--small {
    max-width: 130px;
}

.quantity-selector .quantity__btn.quantity__btn--decrease {
    border-radius: 0;
    box-shadow: 1px 0 var(--border-medium);
    color: var(--text);
    height: 44px;
    width: 44px;
}

.quantity-selector .quantity__btn.quantity__btn--increase {
    border-radius: 0;
    box-shadow: calc(1px * -1) 0 var(--border-medium);
    color: var(--text);
    height: 44px;
    width: 44px;
}

.quantity__selector.quantity__input {
    border-color: var(--border-medium);
    border-radius: 4px;
    font-size: 12px;
    padding: 13px;
}

.product__submit__holder .product__submit__buttons {
    grid-template-columns: minmax(0, 1fr);
}

.product__submit__holder .product__submit__buttons .btn {
    color: #F9F5F4;
    font-size: calc(14px * var(--adjust-button));
    line-height: 120%;
    letter-spacing: 0.28px;
    padding: 13.6px 32px;
    border-radius: 4px;
}

.flex_container .addTocart_container {
    width: 100%;
    flex: unset;
}

.product__icon__text:not(:only-child) {
    margin-left: 8px;
}

.product__icon__text a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.product__description .description-content p {
    font-size: calc(14.5px * var(--adjust-body));
    line-height: 120%;
    letter-spacing: 0.28px;
    margin-bottom: 8px;
}

.product__description .description-content p:last-of-type {
    margin-bottom: 0;
}

.product__description .description-content p a {
    font-size: inherit;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.product__description .description-content p i,
.product__description .description-content p em {
    font-size: calc(11px * var(--adjust-body));
    line-height: 120%;
    letter-spacing: .24px;
}

.side-tray {
    position: fixed;
    top: 0;
    right: 0;
    width: 480px;
    max-width: 100vw;
    height: 100vh;
    background: #f9f5f4;
    box-shadow: -2px 0 16px rgba(0,0,0,0.15);
    z-index: 11000;
    overflow-y: auto;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
}

.side-tray.visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.side-tray-header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(139, 129, 126, 0.50);
}

.side-tray-title p {
    font-family: var(--FONT-STACK-HEADING);
    font-size: calc(25px * var(--adjust-body));
    letter-spacing: -0.56px;
    line-height: 110%;
    margin: 0;
}

.close-side-tray-btn {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.close-side-tray-btn svg {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    pointer-events: none;
}

.close-side-tray-btn:hover svg {
    transform: rotate(90deg);
}

.side-tray-content {
    padding: 32px 16px;
    flex: 1 1 auto;
}

.side-tray-content .metafield-rich_text_field p,
.product__accordion__inner .metafield-rich_text_field p {
    margin-top: 0;
    font-size: calc(14.5px * var(--adjust-body));
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.32px;
}

.side-tray-content .metafield-rich_text_field p:last-of-type,
.product__accordion__inner .metafield-rich_text_field p:last-of-type {
    margin-bottom: 16px;
}

.side-tray-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--black);
    z-index: 10999;
    opacity: 0;
    visibility: hidden;
    transition: transform .4s cubic-bezier(.75,0,.175,1), visibility 0s linear, opacity .4s;
}

.side-tray-overlay.visible {
    opacity: .2;
    visibility: visible;
    will-change: opacity;
}

body.side-tray-open {
    overflow: hidden;
}

.side-tray-content .metafield-rich_text_field ul {
    margin-bottom: 8px;
}

.side-tray-content .metafield-rich_text_field li {
    font-size: calc(12.5px * var(--adjust-body));
    letter-spacing: 0.28px;
    line-height: 120%;
    margin-bottom: 8px;
}

.side-tray-content .metafield-rich_text_field em,
.side-tray-content .metafield-rich_text_field i {
    font-size: calc(11px * var(--adjust-body));
    line-height: 120%;
    letter-spacing: 0.24px;
}

.product__accordions {
    border-bottom: 1px solid rgba(139, 129, 126, 0.50);
}

.product__accordion .product__accordion__title p {
    font-size: calc(12.5 * var(--adjust-body));
    letter-spacing: 0.28px;
    line-height: 120%;
    margin: 0;
    padding: 16px 0;
}

.open-side-tray-btn {
    font-size: calc(12.5 * var(--adjust-body));
    letter-spacing: .28px;
    line-height: 120%;
    margin: 0;
    padding: 16px 0;
    position: relative;
    width: 100%;
    text-align: left;
}

.open-side-tray-btn .icon {
    height: 20px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.open-side-tray-btn .icon-toggle-minus {
    opacity: 0;
}

.open-side-tray-btn.is-expanded .icon-toggle-plus {
    opacity: 0;
}

.open-side-tray-btn.is-expanded .icon-toggle-minus {
    opacity: 1;
}

.open-side-tray-btn path,
.open-side-tray-btn path {
    stroke-width: 1px;
    stroke: var(--text);
}

.icon-toggle-plus-lp path:last-child {
    transform-origin: center;
    transition: transform 0.3s ease;
}

.open-side-tray-btn.is-expanded .icon-toggle-plus-lp path:last-child {
    transform: rotate(90deg);
}

.product__accordion__title .icon {
    right: 12px;
    width: 20px;
}

.product__accordion__title .icon path {
    stroke-width: 1px;
    stroke: var(--text);
}

.variant-selector-enhanced-image-wrapper {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.variant-selector-enhanced-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.border-radius-rounded {
    overflow: hidden;
}

.variant-stock-dot {
    border-radius: 50%;
    height: 8px;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 8px;
}

.variant-stock-dot.in-stock {
  background: #48B964;
}

.variant-stock-dot.out-of-stock {
  background: #B93C63;
}

.product__selectors .radio__fieldset .radio__label {
    align-items: center;
    background: rgba(139, 129, 126, 0.15);
    border-radius: 4px;
    border: none;
    display: flex;
    padding: 16px 8px;
}

.product__selectors.selected-style-outline .radio__input:checked~.radio__label,
.product__selectors.selected-style-outline .radio__label:hover {
    background: rgba(139, 129, 126, 0.15);
    color: var(--text);
    border: none;
}

.variant-out-of-stock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    background: none;
}

.radio__button .radio__label .option-value {
    -webkit-text-stroke-width: 0.2px;
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: 120%;
    margin-top: 7px;
}

.product__selectors .radio__fieldset {
    gap: 8px;
    margin: 0;
}

.product__selectors .radio__button {
    width: unset;
    flex: 1;
    max-width: 33.33%;
}

.radio__label .price {
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: 120%;
}

.radio__button.sold-out .radio__label .option-value,
.radio__button.sold-out .price {
    color: rgba(0, 0, 0, 0.50);
}

.radio__button.sold-out .radio__label, .radio__button.unavailable .radio__label {
    text-decoration: none;
}

.radio__button.sold-out .variant-selector-enhanced-image-wrapper {
    opacity: .7;
}

.addTocart_container.sold-out-type-email .sold-out-block p {
    background: rgba(185, 60, 99, 0.20);
    border-radius: 4px;
    color: #B93C63;
    font-size: calc(12.5 * var(--adjust-body));
    letter-spacing: 0.28px;
    line-height: 120%;
    margin-top: 0;
    padding: 12px;
    text-align: center;
}

.addTocart_container.sold-out-type-email .sold-out-block input {
    border-radius: 4px;
    font-size: calc(12.5 * var(--adjust-body));
    letter-spacing: 0.28px;
    line-height: 120%;
    padding: 13px;
}

.addTocart_container.sold-out-type-email .sold-out-block .btn {
    border-radius: 4px;
    color: #F9F5F4;
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: 120%;
    padding: 14px 32px;
}

.selector-wrapper.selector-wrapper--boxes {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .desktop-carousel-only .product-single__thumbnails {
        display: none !important;
    }

    .product-single__media-slider .flickity-prev-next-button.previous,
    .product-single__media-slider .flickity-prev-next-button.next {
        --flickity-btn-position: 10px;
    }

    .product-single__wrapper:not(.desktop-carousel-only) .product-single__thumbnails {
        display: block !important;
    }

    .product-single__wrapper--standard {
        grid-template-columns: 50% 50%;
    }

    .product__accordion .product__accordion__title p,
    .open-side-tray-btn {
        font-size: calc(13px * var(--adjust-body));
        letter-spacing: 0.32px;
        padding: 24px 0;
    }
}

@media only screen and (max-width: 767px) {
    .mobile-carousel-only .product-single__thumbnails {
        display: none !important;
    }

    .product-single__media-slider .flickity-prev-next-button {
        display: block;
    }

    .product-single__wrapper:not(.mobile-carousel-only):not(.carousel-with-icons) .product-single__thumbnails {
        display: block !important;
    }

    .breadcrumb-section {
        padding-left: 16px;
        padding-right: 16px;
    }

    .breadcrumbs {
        padding-left: 0;
    }

    .product-single__details .form__wrapper {
        padding: 12px 12px 0;
    }

    .product-single__thumbnail:first-child {
        padding-left: 5px;
    }

    .form__wrapper .product__title {
        font-size: calc(28px * var(--adjust-heading));
    }

    .form__wrapper .product__block {
        margin: 0;
    }

    .form__wrapper .product__block .product__title {
        padding-bottom: 4px;
    }

    .product__block .product__subheading {
        padding: 16px 0;
    }

    .product-single__wrapper .product__submit__holder {
        padding-top: 8px;
    }

    .variant-selector-enhanced-image-wrapper {
        width: 0;
        height: 0;
    }

    .radio__button .radio__label .option-value,
    .radio__label .price {
        font-size: 12px;
        letter-spacing: 0.24px;
    }

    .radio__button .radio__label .option-value {
        margin-bottom: 4px;
        margin-top: 0;
    }

    .radio__label .price {
        margin-bottom: 0;
    }

    .product__selectors .radio__fieldset .radio__label {
        gap: 0;
        justify-content: start;
        padding: 16px 4px;
    }

    .variant-stock-dot {
        right: 6px;
        top: 6px;
    }

    .product__accordions {
        padding-bottom: 0;
    }
}

@media (min-width: 767px) and (max-width: 1200px) {
    .product-single__details .form__wrapper {
        padding: 32px;
    }
}
