.related-products .wrapper {
    margin: 0;
    padding: 0 4px;
    width: 100%;
}

.related-products .section__header {
    padding: 0 8px;
    margin-bottom: 24px;
}

.related-products .section__header .section__heading {
    font-size: calc(32px * var(--adjust-heading));
    line-height: 120%;
    letter-spacing: -0.64px;
}

.related-products .wrapper .product-grid-item {
    margin-right: 4px;
    min-height: unset;
}

.related-products .product-info-price-wrapper {
    min-height: 91.25px;
}

@media (min-width: 992px) {
    .related-products .wrapper .product-grid-item {
        width: 33.33%;
    }
}

@media (min-width: 768px) {
    .related-products .section__header {
        padding: 0 60px;
        margin-bottom: 40px;
    }

    .related-products .flickity-page-dots {
        bottom: -50px;
        display: flex;
        height: 2px;
        margin-left: 64px;
        width: calc(100% - 216px);
    }

    .related-products .flickity-page-dots .dot {
        background-color: var(--border-medium);
        border-left: 0;
        border-radius: 0;
        border-right: 0;
        height: 2px;
        margin: 0;
        transition: border .2s ease-in-out;
        width: 100%;
    }

    .related-products .flickity-page-dots .dot:first-of-type {
        border-radius: 2px 0 0 2px;
    }

    .related-products .flickity-page-dots .dot:last-of-type {
        border-radius: 0 2px 2px 0;
    }

    .related-products .flickity-page-dots .dot.is-selected {
        width: 100%;
        background-color: var(--text);
    }

    .related-products .flickity-enabled .flickity-button {
        display: none;
    }

    .related-products .flickity-enabled.is-draggable .flickity-button {
        display: block;
    }

    .related-products button.flickity-button.flickity-prev-next-button ,
    .related-products button.flickity-button.flickity-prev-next-button:hover{
        opacity: 1;
        visibility: visible;
        transform: none;
        transition: none;
        box-shadow: none;
        background: none;
    }

    .related-products button.flickity-button.flickity-prev-next-button::before {
        display: none;
    }

    .related-products .flickity-prev-next-button:not(:disabled),
    .flickity-enabled:hover>.flickity-prev-next-button:not(:disabled),
    section:hover .flickity-enabled>.flickity-prev-next-button:not(:disabled) {
        opacity: 1;
        visibility: visible;
        transform: none;
        transition: none;
    }

    .related-products .flickity-prev-next-button:not(:disabled):hover,
    .flickity-enabled:hover>.flickity-prev-next-button:not(:disabled):hover,
    section:hover .flickity-enabled>.flickity-prev-next-button:not(:disabled):hover {
        transform: none;
        transition: none;
    }

    .related-products button.flickity-button.flickity-prev-next-button.previous {
        bottom: -72px;
        left: unset;
        right: 84px;
        top: unset !important;
    }

    .related-products button.flickity-button.flickity-prev-next-button.next {
        bottom: -72px;
        right: 32px;
        top: unset !important;
    }
}
