/*
 * ------------------------------------------------------------
 * To apply brand specific CSS overrides for REN use the
 * CSS identifier .ren-style
 * 
 * Also make sure that the Theme Setting General Settings ->
 * Site Brand is correctly set.
 * ------------------------------------------------------------
 */

/* Thicker outline for varient selector */

.ren-style .radio__input:checked + .radio__label {
  border: 2px solid #7f7f7f;
  background-color: white;
  color: #000;
}

/* badge size on collection pages across different size screens */

.ren-style [id^="product-item--template"]
  deferred-loading:first-child
  figure.product__media::after {
  background-position: calc(100% - 4%) 4% !important;
  background-size: 18% !important;
}

/* REN-294 2-column layout for collection page */

@media (max-width: 768px) {
  .ren-style .product-grid-item__title {
    font-size: 14px;
  }
  .ren-style .product-cutline {
    line-height: 1.2;
    font-size: 13px;
  }
  .ren-style .product-grid-item__price {
    font-size: 14px;
  }
  .ren-style .grid {
    gap: 6px;
  }
  .ren-style .product__badge__item {
    font-size: 9px;
  }
  .ren-style .product-grid-item__info {
    padding-bottom: 20px;
  }
  .ren-style .product-grid-item__price {
    padding-bottom: 0px;
  }
  .ren-style .star-container svg {
    width: 11px;
    height: 11px;
  }
  .ren-style .yotpo-sr-bottom-line-text {
    font-size: 13px !important;
  }
  .ren-style .yotpo-widget-instance {
    margin-top: -8px;
  }
}
