.tab-collections .wrapper {
    margin: 0;
    padding: 0 4px;
    width: 100%;
}

.tab-collections .section__header,
.tab-collections .section__header .h2 {
    letter-spacing: -0.64px;
    line-height: 120%;
    margin: 0;
}

.tabs__head {
    padding: 0 60px 25px;
}

.tabs__nav .tabs__link {
    margin-right: 40px;
}

.tabs__nav .tabs__link:last-of-type {
    margin-right: 0;
}

.custom-scrollbar {
    display: none;
}

.tab-collections__container .flickity-slider .product-grid-item {
    width: 33.33%;
}

.tab-collections-wrapper .flickity-page-dots {
    bottom: -50px;
    display: flex;
    height: 2px;
    margin-left: 64px;
    width: calc(100% - 216px);
}

.tab-collections-wrapper .flickity-page-dots .dot {
    background-color: var(--border-medium);
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    height: 2px;
    margin: 0;
    transition: border .2s ease-in-out;
    width: 100%;
}

.tab-collections-wrapper .flickity-page-dots .dot:first-of-type {
    border-radius: 2px 0 0 2px;
}

.tab-collections-wrapper .flickity-page-dots .dot:last-of-type {
    border-radius: 0 2px 2px 0;
}

.tab-collections-wrapper .flickity-page-dots .dot.is-selected {
    width: 100%;
    background-color: var(--text);
}

.tab-collections-wrapper button.flickity-button.flickity-prev-next-button ,
.tab-collections-wrapper button.flickity-button.flickity-prev-next-button:hover{
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: none;
    box-shadow: none;
    background: none;
}

.tab-collections-wrapper button.flickity-button.flickity-prev-next-button::before {
    display: none;
}

.supports-touch .flickity-prev-next-button:not(:disabled),
.flickity-enabled:hover>.flickity-prev-next-button:not(:disabled),
section:hover .flickity-enabled>.flickity-prev-next-button:not(:disabled) {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: none;
}

.supports-touch .flickity-prev-next-button:not(:disabled):hover,
.flickity-enabled:hover>.flickity-prev-next-button:not(:disabled):hover,
section:hover .flickity-enabled>.flickity-prev-next-button:not(:disabled):hover {
    transform: none;
    transition: none;
}

.tab-collections-wrapper button.flickity-button.flickity-prev-next-button.previous {
    bottom: -72px;
    left: unset;
    right: 84px;
    top: unset !important;
}

.tab-collections-wrapper button.flickity-button.flickity-prev-next-button.next {
    bottom: -72px;
    right: 32px;
    top: unset !important;
}

.tab-collections-wrapper .tabs__link {
    color: var(--text);
    letter-spacing: 0.28px;
    line-height: 120%;
    max-width: max-content;
    position: relative;
    transition: color 0.4s ease;
}

.tab-collections-wrapper .tabs__link:hover,
.tab-collections-wrapper .tabs__link:focus,
.tab-collections-wrapper .tabs__link:active {
    cursor: pointer;
}

.tab-collections-wrapper .tabs__link:hover:after,
.tab-collections-wrapper .tabs__link:focus:after,
.tab-collections-wrapper .tabs__link:active:after {
    width: 100%;
}

.tab-collections-wrapper .tabs__link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: currentColor;
    width: 0;
    transition: width 0.4s ease;
}

.tab-collections-wrapper .tabs__link.current:after {
    width: 100%;
}

.tab-collections__text {
    margin: 0 60px 25px;
}

.tab-collections__button.current {
    border-radius: 4px;
    font-size: 14px;
    margin-left: 40px;
    padding: 12px 32px;
}

.tab-collections .wrapper > .section__header {
    padding: 0 60px 25px;
}

.tab-collections__container .product-info-price-wrapper {
    min-height: 91.25px;
}

@media (max-width: 768px) {
    .tab-collections .wrapper {
        padding: 10px 4px 0;
    }

    .tabs__head {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 8px;
    }

    .tab-collections .section__header,
    .tab-collections .section__header .h2 {
        letter-spacing: -0.56px;
        line-height: 110%;
        width: 100%;
    }

    .tabs__nav .tabs__link {
        font-size: 12px;
        letter-spacing: 0.24px;
        margin-right: 25px;
    }

    .tab-collections__button {
        display: none;
    }

    .tab-collections__text {
        margin: 0 8px;
    }

    .tab-collections .wrapper > .section__header {
        padding: 0 8px;
    }

    .carousel--mobile .carousel__item {
        margin-right: 4px;
    }
}
