/*
 * ------------------------------------------------------------
 * To apply brand specific CSS overrides for REN use the
 * CSS identifier .tatcha-style
 * 
 * Also make sure that the Theme Setting General Settings ->
 * Site Brand is correctly set.
 * ------------------------------------------------------------
 */

 /* UKSHOP-170 PDP Updates - (19 & 20) - Results Content & Modal*/
  .popup-overlay {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
  }

  .popup-content {
    background: white;
    border-radius: 5px;
    max-width: 500px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100%;
  }

  .popup-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 9.6px;
  }

  .popup-header h2 {
    margin-bottom: 0;

  }

  .popup-close {
    cursor: pointer;
    fill: none;
    height: 25px;
    position: absolute;
    right: 20px;
    stroke-width: var(--STROKE-WIDTH);
    stroke: currentColor;
    top: 20px;
    width: 25px;
  }

  .popup-body {
    padding: 16px 24px;
    text-align: left;
  }

  .popup-body p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    margin-top: 0;
  }

  .popup-body p em {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .popup-body h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  .popup-body ul {
    font-size: 16px;
    list-style: unset;
    margin: 0;
    margin-bottom: 16px;
    padding-inline-start: 15px;
  }

  .popup-body li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding-left: 0;
  }

  .popup-body li::before {
    display: none;
  }

  .remove-custom-list-bullets ul {
    margin-left: 0;
    list-style: none;
  }

  .template-product .rich-text h6 {
    font-family: var(--FONT-STACK-BODY);
  }

  .remove-custom-list-bullets .popup-content ul {
    list-style:disc;
  }

  .remove-custom-list-bullets ul li {
    padding-left: 0;
  }


  .remove-custom-list-bullets ul li::before {
    display: none;
  }

  .remove-custom-list-bullets li em strong  { 
    font-weight: 700;
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    margin-right: 8px;
  }

  @media only screen and (max-width: 768px) {
    .popup-content {
        width: calc(100% - 32px);
    }
  }


 /* UKSHOP-169 PDP Updates - (17) - Benefits Content */

 .brick__block__content ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
  }
  
  .brick__block__content li {
    position: relative;
    padding-left: 30px; 
    font-size: 16px;
  }
  
  .brick__block__content li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000000'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 15l-5-5 1.41-1.41L11 14.17l6.59-6.59L19 9l-8 8z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
  }

  @media only screen and (max-width: 1024px) {
    .brick__block__content li::before {
        top: 25%;
    }
}
@media only screen and (max-width: 767px) {
    .brick__block__content ul {
        margin: 0;
    }
}


 /* UKSHOP-171 PDP Updates - (21 & 22) - Ingredients Content & Modal */

 .featured-ingredients .ingredients-list .ingredient-item {
  align-items: center;
  display: flex;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .featured-ingredients .ingredients-list .ingredient-item {
    gap: 16px;
  }
}

.featured-ingredients .ingredients-list .ingredient-item:last-child {
  margin-bottom: 0;
}
