.text .text__heading h2 {
    font-size: calc(2rem * var(--adjust-heading));
    letter-spacing: -0.64px;
    line-height: 120%;
    margin-bottom: 24px;
}

.text-section .text__heading p {
    margin: 0;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .text-section .wrapper {
        width: 100vw;
    }
}

@media (min-width: 1400px) {
    .text-section .wrapper {
        width: 1384px;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .text-section .wrapper {
        padding: 0 12px;
    }
}
